body {
  width: 1440px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}
button:hover {
  box-shadow: none;
  transition: 0.3s;
}

.wrapper {
  width: 1403px;
  margin: 0 auto;
  padding-top: 19px;
}
.wrapper .navbar {
  width: 95%;
  margin: 0 auto;
  height: 83px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
  border-radius: 4px;
}
.wrapper .navbar .menu {
  display: flex;
  width: 96%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.wrapper .navbar .menu .logo {
  display: flex;
  align-items: center;
}
.wrapper .navbar .menu .logo h1 {
  text-shadow: 6px 7px 4px rgba(183, 176, 176, 0.25);
  font-weight: 700;
  font-size: 32px;
}
.wrapper .navbar .menu .menu_links {
  align-items: center;
  display: flex;
  width: 45%;
  justify-content: space-between;
  border-bottom: 1px solid #F4F4F4;
  height: 35px;
}
.wrapper .navbar .menu .menu_links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 3px 4px rgb(224, 224, 224);
  padding-bottom: 10px;
}
.wrapper .navbar .menu .menu_links .active_link {
  border-bottom: 4px solid #DA700F;
}
.wrapper .navbar .menu .contacts_form {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .navbar .menu .contacts_form .callback {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.wrapper .navbar .menu .contacts_form .callback img {
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
  border-radius: 10%;
}
.wrapper .navbar .menu .contacts_form .question_btn img {
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
  border-radius: 100%;
}
.wrapper .navbar .menu .contacts_form .user_btn {
  display: flex;
  justify-content: space-between;
  width: 20%;
  cursor: pointer;
}
.wrapper .navbar .menu .contacts_form .user_btn img {
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
  border-radius: 40%;
}
.wrapper .navbar .menu .contacts_form .user_btn p {
  text-shadow: 2px 3px 4px rgba(183, 176, 176, 0.25);
}
.wrapper main {
  height: 922px;
  width: 95%;
  margin: 38px auto;
}
.wrapper main .main_content {
  height: 869px;
  width: 100%;
  display: flex;
}
.wrapper main .main_content .main_block {
  width: 70%;
  height: 100%;
}
.wrapper main .main_content .main_block .main_block_navbar {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.wrapper main .main_content .main_block .main_block_navbar .burger_menu {
  width: 40px;
  height: 40px;
  position: relative;
}
.wrapper main .main_content .main_block .main_block_navbar .burger_menu span {
  box-shadow: 1px 2px 1px rgb(230, 230, 230);
  width: 40px;
  height: 4px;
  position: absolute;
  border-radius: 3px;
  top: 50%;
  left: 0;
  background-color: #222222;
}
.wrapper main .main_content .main_block .main_block_navbar .burger_menu span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.wrapper main .main_content .main_block .main_block_navbar .burger_menu span:nth-of-type(3) {
  top: calc(50% + 10px);
}
.wrapper main .main_content .main_block .main_block_navbar .main_navbar_title {
  display: flex;
  align-items: center;
}
.wrapper main .main_content .main_block .main_block_navbar .main_navbar_title p {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #4D4D4D;
  text-shadow: 3px 1px 1px rgb(211, 210, 210);
}
.wrapper main .main_content .main_block .main_block_navbar .navbar_btns {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.wrapper main .main_content .main_block .main_block_navbar .navbar_btns button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
}
.wrapper main .main_content .main_block .main_block_navbar .navbar_btns button img {
  width: 100%;
}
.wrapper main .main_content .main_block .main_block_img {
  width: 100%;
  height: 610px;
  margin-top: 21px;
  display: flex;
  align-items: center;
  border: 1px solid #C5C2C2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.wrapper main .main_content .main_block .main_block_img .img_box {
  width: 90%;
  height: 552px;
  margin: 0 auto;
}
.wrapper main .main_content .main_block .main_block_img .img_box img {
  width: 100%;
}
.wrapper main .main_content .main_block .main_block_navbar2 {
  width: 100%;
  height: 79px;
  margin-top: 21px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box .navbar_block1 {
  width: 15%;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box .navbar_block1 button:last-child {
  box-shadow: none;
  border: 1px solid #C5C2C2;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box .navbar_block2 {
  width: 15%;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box .navbar_block3 {
  width: 20%;
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
}
.wrapper main .main_content .main_block .main_block_navbar2 .navbar_box #btn_border {
  border: 3px solid #DA700F;
}
.wrapper main .main_content .main_block .main_block_footer {
  margin-top: 33px;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(183, 176, 176, 0.25);
  border-radius: 4px;
}
.wrapper main .main_content .main_block .main_block_footer .footer_box {
  width: 70%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.wrapper main .main_content .main_block .main_block_footer .footer_box p {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #C5C2C2;
}
.wrapper main .main_content .left_sidebar {
  width: 422px;
  margin-left: 31px;
  height: 681px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box {
  width: 99%;
  height: 90%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .left_sidebar_navbar {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .left_sidebar_navbar input, .wrapper main .main_content .left_sidebar .left_sidebar_box .left_sidebar_navbar section {
  clear: both;
  padding-top: 20px;
  display: none;
  width: 100%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .left_sidebar_navbar label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 10px 30px;
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #DDD;
  color: #716D6D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .left_sidebar_navbar label:hover {
  cursor: pointer;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .left_sidebar_navbar input:checked + label {
  border-top-color: #C5C2C2;
  border-right-color: #C5C2C2;
  border-left-color: #C5C2C2;
  border-bottom-color: transparent;
  color: black;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content {
  height: 615px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 {
  width: 95%;
  height: 97%;
  overflow-y: scroll;
  margin: 0 auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1::-webkit-scrollbar {
  background: rgba(218, 112, 15, 0.41);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1::-webkit-scrollbar-thumb {
  background-color: white;
  border: #f2bf93 3px solid;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1::-webkit-scrollbar-track {
  background: #f2bf93;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1::-webkit-scrollbar-button {
  background: #f2bf93;
  background-image: url(../img_section_1/scrollbar_arrow_up.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1::-webkit-scrollbar-button:increment {
  background: url(../img_section_1/scrollbar_arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section {
  width: 97%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(10, 27%);
  gap: 10px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section .card {
  cursor: pointer;
  border: 1px solid #F4F4F4;
  border-radius: 3px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section .card:active {
  border: 1px solid #716D6D;
  border-radius: 3px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section .card .card_title {
  width: 90%;
  height: 13%;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section .card .card_title img {
  cursor: pointer;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section .card .card_img_block {
  height: 80%;
  display: flex;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-1 .cards_section .card .card_img_block .card_img {
  margin: 0 auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 {
  height: 100%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements {
  width: 100%;
  height: 50%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_title {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F4F4F4;
  height: 15%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #F4F4F4;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block {
  display: flex;
  height: 50%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block p {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27.5px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block .switch input {
  display: none;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4F4F4;
  transition: 0.4s;
  border: 1px solid #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 1px solid #C5C2C2;
  transition: 0.4s;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block input:checked + .slider {
  background: #C5F2C7;
  border: 1px solid #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block input:checked + .slider:before {
  transform: translateX(19px);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block .slider {
  border-radius: 34px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .checkbox_block .slider:before {
  border-radius: 50%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color {
  display: flex;
  justify-content: space-between;
  width: 105%;
  height: 62px;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #716D6D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns {
  width: 55%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button {
  border: 1px solid #a0a0a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 36px;
  height: 33px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button:hover {
  box-shadow: none;
  transition: 0.3s;
  transform: translateY(1px);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button:nth-child(1) {
  background: #FFFFFF;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button:nth-child(2) {
  background: #B6ACAC;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button:nth-child(3) {
  background: #A98D6D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button:nth-child(4) {
  background: #4B986A;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_color .corpuse_color .color_btns button:nth-child(5) {
  background: #451D1D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns {
  height: 169px;
  width: 100%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box p {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #716D6D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div {
  border: 1px solid #C5C2C2;
  border-radius: 6px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div p {
  font-size: 13px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div input, .wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div section {
  clear: both;
  padding-top: 10px;
  display: none;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 12px 20px;
  border-radius: 6px;
  color: #716D6D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div label:hover {
  cursor: pointer;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .tab_btn_box div input:checked + label {
  background-color: #C5F2C7;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .range_slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .range_slider p {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #716D6D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .range_slider .range-slider input[type=range] {
  -webkit-appearance: none;
  height: 2px;
  background-color: gray;
  width: 190px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .range_slider .range-slider .range-slider__value {
  padding: 5px 20px;
  background-color: #C5F2C7;
  border-radius: 6px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block {
  display: flex;
  height: 16%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block p {
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27.5px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block .switch input {
  display: none;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4F4F4;
  transition: 0.4s;
  border: 1px solid #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 1px solid #C5C2C2;
  transition: 0.4s;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block input:checked + .slider {
  background: #C5F2C7;
  border: 1px solid #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block input:checked + .slider:before {
  transform: translateX(19px);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block .slider {
  border-radius: 34px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_elements .elements_btns .checkbox_block .slider:before {
  border-radius: 50%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards {
  width: 95%;
  height: 30%;
  overflow-y: scroll;
  margin: 22% auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards::-webkit-scrollbar {
  background: rgba(218, 112, 15, 0.41);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards::-webkit-scrollbar-thumb {
  background-color: white;
  border: #f2bf93 3px solid;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards::-webkit-scrollbar-track {
  background: #f2bf93;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards::-webkit-scrollbar-button {
  background: #f2bf93;
  background-image: url(../img_section_1/scrollbar_arrow_up.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards::-webkit-scrollbar-button:increment {
  background: url(../img_section_1/scrollbar_arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(10, 27%);
  gap: 10px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section .card {
  cursor: pointer;
  border: 1px solid #F4F4F4;
  border-radius: 3px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section .card:active {
  border: 1px solid #716D6D;
  border-radius: 3px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section .card .card_title {
  width: 90%;
  height: 13%;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section .card .card_title img {
  cursor: pointer;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section .card .card_img_block {
  height: 80%;
  display: flex;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-2 .sct2_box .sct2_cards .cards_section .card .card_img_block .card_img {
  margin: 0 auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 {
  height: 100%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .sct3_title {
  width: 100%;
  display: flex;
  height: 41px;
  border-bottom: 1px solid #F4F4F4;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .sct3_title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  color: #4D4D4D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .title_cards {
  width: 100%;
  height: 141px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .title_cards .sct3_card {
  width: 31%;
  border: 1px solid #C5C2C2;
  border-radius: 6px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .title_cards .sct3_card .card_color {
  height: 75%;
  width: 100%;
  background-color: #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .title_cards .sct3_card .card_color2 {
  height: 75%;
  width: 100%;
  background: #DBF4FA;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .title_cards .sct3_card .card_color3 {
  height: 75%;
  width: 100%;
  background: #FEFFFF;
  border-bottom: 1px solid #C5C2C2;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .title_cards .sct3_card .card_text {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .sct3_title2 {
  width: 100%;
  height: 51px;
  margin-top: 20px;
  border-bottom: 1px solid #F4F4F4;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .sct3_title2 p {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #4D4D4D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box {
  width: 100%;
  height: 45%;
  overflow-y: scroll;
  margin: 10% auto;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box::-webkit-scrollbar {
  background: rgba(218, 112, 15, 0.41);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box::-webkit-scrollbar-thumb {
  background-color: white;
  border: #f2bf93 3px solid;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box::-webkit-scrollbar-track {
  background: #f2bf93;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box::-webkit-scrollbar-button {
  background: #f2bf93;
  background-image: url(../img_section_1/scrollbar_arrow_up.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box::-webkit-scrollbar-button:increment {
  background: url(../img_section_1/scrollbar_arrow_down.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 20px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card {
  height: 87px;
  border: 1px solid #C5C2C2;
  border-radius: 6px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(1) .card_color {
  background: #444444;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(2) .card_color {
  background: #C4B29E;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(3) .card_color {
  background: #809488;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(4) .card_color {
  background: #A89898;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(5) .card_color {
  background: #706866;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(6) .card_color {
  background: #DED7CD;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(7) .card_color {
  background: rgba(246, 246, 246, 0.901961);
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card:nth-child(8) .card_color {
  background: #546672;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card .card_color {
  height: 75%;
  width: 100%;
  background-color: #451D1D;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .sidebar_content #tab-3 .sct3_box .cards_box .card_inner .sct3_card .card_text {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .hidden {
  display: none;
  height: 0;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block {
  height: 181px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box {
  width: 90%;
  margin: 0 auto;
  height: 80%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_date {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_cost {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_btn a {
  padding: 10px 90px 9px 90px;
  background-color: #1F8B24;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_btn a:hover {
  box-shadow: none;
  background-color: #70df76;
  transition: 0.3s;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_btn button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.wrapper main .main_content .left_sidebar .left_sidebar_box .order_block .order_box .order_btn button:hover {
  opacity: 0.3;
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */
